@import url("file:///home/crop/.cache/wal/colors-waybar.css");

* {
    font-size: 12px;
    font-family: "Iosevka Nerd Font";
    min-height: 0;
    padding: 0;
}

window#waybar {
    background: @color0;
    color: @foreground;
}

#clock {
    padding: 0 10px;
}

#custom-audio,
#custom-brightness,
#custom-ip,
#custom-network,
#battery {
    padding: 0 10px;
    border-left: 1px solid @color8;
}

#pulseaudio.muted,
#custom-network.disconnected,
#battery.warning,
#battery.critical {
    color: @color1;
}

#battery.charging {
    color: @color2;
}

#tray {
    padding: 0 8px;
}
